/* Navbar.module.css */
.navbar {
  background-color: rgb(248, 54, 112);
  padding: 5px;
  display: flex;
  gap: 10rem;
}

.navbarList {
  list-style-type: none;
  margin: 100;
  padding: 100;
  display: flex;
}

.navbarItem {
  margin-right: 500rem;
}

.navigator {
  margin: auto;
  color: red;
  display: flex;
  justify-content: center;
}

.linkHome {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  color: green;
  background-color: none;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}
.linkProducts {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  color: green;
  display: flex;
  justify-content: center;
}
.linkCart {
  width: 60px;
  height: 60px;
}

.link {
  right: 0;
}
