/* Navbar.module.css */
/* @import './../globalMediaQueries'; */

.navbar {
  background-color: red;
  padding: 5px;
  display: flex;
  gap: 10rem;
}

.navbarList {
  list-style-type: none;
  margin: 100;
  padding: 100;
  display: flex;
}

.navbarItem {
  /* margin-right: 500rem; */
}

.navigator {
  /* width: 100%;
  margin: auto;
  color: green;
  display: flex;
  justify-content: space-between; */

  display: flex;
  align-items: center;
}

.navigation {
  width: 60%;
  display: flex;
  justify-content: end;
}

.cart {
  width: 15%;
  display: flex;
  justify-content: right;
  position: relative;
}
.linkHome {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  color: rgba(0, 0, 0, 0.725);
  background-color: none;
  display: flex;
  justify-content: center;
  margin-right: 30px;
  text-decoration: none;
}
.linkProducts {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  color: rgba(0, 0, 0, 0.725);
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.linkCart {
  width: 50px;
  height: 50px;
  margin-left: auto;
  color: black;
}

.link {
  right: 0;
}
.number {
  position: absolute;
  top: 19%;
  right: 15%;
  font-weight: bold;
}
@media screen and (max-width: 375px) {
  .number {
    margin-left: -20px;
  }
}

.linkLogIn {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: flex;
  gap: 50rem;
}

.linkRegister {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: flex;
  gap: 50rem;
}
.button {
  display: flex;
  gap: 16px;
  align-items: center;
}
.loginCart {
  width: 800px;
  display: flex;
  justify-content: flex-end;
}
