@import './globalMediaQueries';

// HERO SECTION //////////////////////////////////

$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

.heroSection {
  height: 100vh;
  background-color: #1b1212;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding-top: 200px;
  padding-left: 5%;
  padding-right: 5%;

  @media screen and (max-width: $desktop) {
    height: 720px;
  }

  @media screen and (max-width: $laptop) {
    height: 495px;
  }

  @media screen and (max-width: $tablet) {
    height: 495px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

    @media screen and (max-width: $desktop) {
      height: 720px;
    }

    @media screen and (max-width: $laptop) {
      height: 495px;
    }

    @media screen and (max-width: $tablet) {
      height: 495px;
    }
    .image {
      border-radius: 15px;
    }
    .image img {
      height: 100%;
      width: 100%;
    }
    @media screen and (max-width: $desktop) {
      top: 55%;
      left: 25%;
      width: 500px;
      transform: translate(-50%, -50%);
    }

    @media screen and (max-width: $laptop) {
      top: 55%;
      left: 25%;
      transform: translate(-50%, -50%);
      width: 400px;
    }

    @media screen and (max-width: $tablet) {
      top: 55%;
      left: 25%;
      transform: translate(-50%, -50%);
      width: 350px;
    }

    @media screen and (max-width: $mobile) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
    }

    h1 {
      color: white;
      font-family: var(--title-font);
      font-size: 35px;
      margin-bottom: 24px;
    }
    p {
      color: white;
      font-size: 20px;
      line-height: 1, 5;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: $laptop) {
    font-size: 2.5rem;
  }

  .menuLink {
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    margin-left: 10%;
  }
  .description1 {
    margin-bottom: 50px;
  }
}

// .main {
//   /* display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   padding: 6rem;
//   min-height: 100vh; */
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   font-family: sans-serif;
//   text-align: center;
// }

// .product {
//   width: 400px;
//   height: 400px;
// }
