.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.productLink {
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.productImage {
  margin-top: 20px;
}
