.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  textarea {
    width: 320px;
    height: 168px;
    border-radius: 6px;
    margin-bottom: 16px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: auto;
  margin-bottom: 16px;
  color: #000;
  width: 152px;
  height: 32px;
  font-size: 1.125rem;
  background-color: #d9d9d9;
  border-radius: 16px;
}
